<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MangaDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <MangaDownloader.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>C:\Manga</value>
            </setting>
            <setting name="ImageListWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ImageNameWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ImageLinkWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="ImageSizeWidth" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="ImageStatusWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ImageProgressWidth" serializeAs="String">
                <value>60</value>
            </setting>
        </MangaDownloader.Properties.Settings>
    </userSettings>
</configuration>
